/* 背景 */
::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar:ver {
    width: 10px;
}
/* 滚动块 */
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #ddd;
    border-radius: 8px;
    border: 2px solid #fff;
}
.dark {
    ::-webkit-scrollbar-track-piece {
        background-color: #424242; /*滚动条的背景颜色*/
        -webkit-border-radius: 0; /*滚动条的圆角宽度*/
    }
    ::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: #686868;
        border: 2px solid #424242;
    }

    /* 标题 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(135deg, #10b981 10%, #10b981 100%);

    /* 图标背景 */
    --vp-home-hero-image-background-image: linear-gradient(135deg, #10b981 10%, #10b981 100%);
    --vp-home-hero-image-filter: blur(250px);

    /* brand按钮 */
    --vp-button-brand-border: #10b981;
    --vp-button-brand-text: #10b981;
    --vp-button-brand-bg: #6ee7b7;

    --vp-button-brand-hover-border: #10b981;
    --vp-button-brand-hover-text: #10b981;
    --vp-button-brand-hover-bg: #6ee7b7;

    --vp-button-brand-active-border: #10b981;

    /* 主题基色 */
    --vp-c-brand: #10b981;
    --vp-c-brand-light: #10b981;
    --vp-c-brand-dark: #10b981;

    /* 代码块背景色 */
    --vp-code-block-bg: #000;
}
